/* Styling for the calculator */

body {
  margin: 40px;
}

.box {
	background-color: #726C6C;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 150%;
}

.operator {
	background-color: #CA2626;
}

.wrapper {
	background-color: #fff;
	color: #444;
	float: left;
	padding: 10px;
	border: 5px solid black;
	/* Using CSS Grid for alignment */
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 50px);
	grid-template-areas: 
		"screen screen screen screen"
		"seven eight nine divide"
		"four five six multiply"
		"one two three subtract"	
		"zero decimal equals add";
}

#display {
	background-color: #fff;
	color: #000;
	border-radius: 1px;
	border-style: solid;
	border-color: #000;
	padding: 10px;
	font-size: 150%;
	grid-area: screen;	
}

/* Make invisible */
/* video {
	display: none;
}

canvas {
	display: none;
} */

/* Button mapping to grid */

#zero {
	grid-area: zero;	
}

#one {
	grid-area: one;
}

#two {
	grid-area: two;
}

#three {
	grid-area: three;
}

#four {
	grid-area: four;	
}

#five {
	grid-area: five;	
}

#six {
	grid-area: six;	
}

#seven {
	grid-area: seven;
}

#eight {
	grid-area: eight;
}

#nine {
	grid-area: nine;
}

#decimal {
	grid-area: decimal;
}

#add {
	grid-area: add;
}

#subtract {
	grid-area: subtract;	
}

#multiply {
	grid-area: multiply;	
}

#divide {
	grid-area: divide;	
}

#equals {
	grid-area: equals;
	background-color: #E0CE00;	
}